# ===========================
# Frontend .gitignore
# ===========================

# Dependencies
node_modules/

# Build output (upload นี้ไปใส่ Server โดยตรง ไม่ต้อง commit)
dist/
dist-ssr/

# Environment Variables
.env
.env.*
!.env.example
*.local

# TypeScript cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
